body {
  background-image: url('https://c.wallhere.com/photos/80/88/1920x1080_px_nebula_space_stars_TylerCreatesWorlds-741454.jpg!d');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
