body {
  background-image: url('https://c.wallhere.com/photos/80/88/1920x1080_px_nebula_space_stars_TylerCreatesWorlds-741454.jpg!d');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}
.image{
    border: 8px solid rgb(6, 8, 6);
    border-radius: 20px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #940000;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

h1 {
    text-align: center;
    font-size: 3rem ;
    color: red;
}

body 
{
    text-align: center;
}
p {
    font-weight: bold;
}